.git
.github
.idea
.vscode
.claude
node_modules
vendor
public/build
public/hot
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php
.env
.env.*
docker.env
database/*.sqlite
tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml
